<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 
  <style>
     * {
            padding: 0;
            margin: 0;
            font-family: Century Gothic;
        }
        
        form {
           
            display: block;
            width: 100px;
        }
        
        input {
            border: 1px solid gray;
            border-radius: 3px;
            margin-bottom: 4px;
            height: 35px;
            width: 100px;
            padding: 0px 2px;
            box-sizing: border-box;
        }
        
        button {
            width: 100px;
            padding: 10px 0px;
            background-color: rgb(9, 127, 223);
            border: none;
            border-radius: 3px;
            color: white;
            cursor: pointer;
            box-sizing: border-box;
        }
        
        h1 {
            text-align: center;
            color: rgb(31, 31, 31);
            font-size: 50px;
        }
        
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            margin-left: 100px;

        }
        #add{
            margin-left: 100px;
            margin-bottom: 5px;

        }
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            width: 20px;
            height: 70px;
            font-size: 15px;
        }
        
       th{
           background-color: rgb(184, 184, 184);
           color: rgb(41, 41, 41);
           text-align: center;
           height: auto;
       }

    html,body{
      height: 100%;
      width: 100%;
    }
   #topbar{
       position: absolute;
     width: 100%;
     height: 50px;
background-color: rgb(43, 43, 43);
   }
   #container{
     height: 100%;
     width: 100%;
     display: flex;
    
   }
   #sidebar{
    background-color: rgb(218, 218, 218);
    height: 100%;
    width: 20%;
   }
   #content{
    background-color: rgb(255, 255, 255);
height: auto;
width: 80%;
margin-top: 50px;
}
    #update{
       position: absolute;
       background-color: whitesmoke;
       margin-top: -200px;
       margin-left: -600px;
       width: 400px;
       padding: 30px;


    }
    #update input{
        width:300px;
        padding: 20px 10px;
        display: block;
    margin: auto;
    }
    #update button{

    display: block;
    margin: auto;
    padding: 7px 30px ;
    width: auto;
    }
    #close_update{

        cursor: pointer;
        font-weight: bold;
        margin-top: -25px;
        margin-left: 345px;
        background-color: rgb(9, 127, 223);
            border: none;
            text-align: center;
            width: 20px;
            height: 20px;
            color: white;

        }
    #shadow{

        position: absolute;
        background-color: rgba(0, 0, 0, 0.685);
        height:    100%;
        width: 100%;
        display: none;
    }
    #add_form{
        display: none;
        position: absolute;
       background-color: whitesmoke;
       margin-top: -100px;
       margin-left:250px ;
       width: 400px;
       padding: 30px;
    }
    #add_form input{
        width:300px;
        padding: 20px 10px;
        display: block;
    margin: auto;
    }
    #add_form button{

    display: block;
    margin: auto;
    padding: 7px 30px ;
    width: auto;
    }

  </style>
  <script>
      function update() {
          form=document.getElementById("update");
          if (form.style.display=="none") {
            form.style.display="block";
            document.getElementById("shadow").style.display="block";
          }
          else{
            document.getElementById("shadow").style.display="none";

            form.style.display="none";
          }
      }
      function close_update() {
        form=document.getElementById("update");

        document.getElementById("shadow").style.display="none";

        form.style.display="none";
          
      }
      function close_add() {
        form=document.getElementById("add_form");

        document.getElementById("shadow").style.display="none";

        form.style.display="none";
          
      }
      function add() {
          form=document.getElementById("add_form");
          if (form.style.display=="none") {
            form.style.display="block";
            document.getElementById("shadow").style.display="block";
          }
          else{
            document.getElementById("shadow").style.display="none";

            form.style.display="none";
          }
      }
  </script>
</head>
<body>
    <div id="shadow"></div>
<div id="topbar"></div>
<div id="container">
  <div id="sidebar">
  </div>
  <div id="content">
    
    <h1>Patient List</h1>
    <button id="add" onclick="add()">Add Patient</button>
    <form id="add_form"  style="display: none;" action="/patient" method="POST">
        <p onclick="close_add()" id="close_update">X</p>

        <input type="text" name="name" id="name" placeholder="Name">
        <br>
        <input type="text" name="phone_number" id="phone_number" placeholder="Phone Number">
        <br>
        <input type="text" name="gender" id="gender" placeholder="gender">
        <br>
        <input type="text" name="social_status" id="social_status" placeholder="social_status">
        <br>
        <input type="text" name="location" id="location" placeholder="location">
        <br>
        <input type="date" name="birth_date" id="birth_date" placeholder="birth_date">
        <br>
        <input type="text" name="email" id="email" placeholder="email">
        <br>
        <button type="submit" class="btn">Add pationt</button>

    </form>

    <table>
        <thead>
            <tr>


                <th>name</th>
                <th>phone_number</th>
                <th>gender</th>
                <th>social_status</th>

                <th>location</th>
                <th>birth_date</th>
                <th>email</th>
                <th >actions</th>
            </tr>
        </thead>

        <tbody>
         <% patients.forEach(patient => { %>
                <tr>
                   

                    <td>
                        <%= patient.name %>
                    </td>
                    <td>
                        <%= patient.phone_number %>
                    </td>
                    <td>
                        <%= patient.gender %>
                    </td>
                    <td>
                        <%= patient.social_status %>
                    </td>
                    <td>
                        <%= patient.location %>
                    </td>
                    <td>
                        <%= patient.birth_date.toLocaleDateString() %>
                    </td>
                    <td>
                        <%= patient.email %>
                    </td>
                    <td style="display: flex; width: 230px; justify-content: flex-start; align-items: center;">
                        <form action="/patient/<%= patient.id %>?_method=DELETE" method="POST" style="width: 200px; ">
                            <button type="submit" class="btn ">Delete</button>
                        </form>
                        <div>
                        <button onclick="update()" type="submit" class="btn">update</button>
                        <form style="display:none ;" id="update" action="/patient/<%= patient.id %>?_method=PUT" method="POST">
                            <p onclick="close_update()" id="close_update">X</p>
                            <input type="text" name="name" id="name" placeholder="Name">
                            <br>
                            <input type="text" name="phone_number" id="phone_number" placeholder="Phone Number">
                            <br>
                            <input type="text" name="gender" id="gender" placeholder="gender">
                            <br>
                            <input type="text" name="social_status" id="social_status" placeholder="social_status">
                            <br>
                            <input type="text" name="location" id="location" placeholder="location">
                            <br>
                            <input type="date" name="birth_date" id="birth_date" placeholder="birth_date">
                            <br>
                            <input type="text" name="email" id="email" placeholder="email">
                            <br>
                            <button type="submit" class="btn">update</button>

                        </form>
                    </div>
                    </td>
                   
                </tr>
                <% }) %>
        </tbody>
    </table>

  </div>
</div>

</body>
</html>
